.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.header__background {
  background-color: #f2f2f2;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 30px 0;
}

.settings-wrapper,
.controls-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 30px 0;
}

.time-wrapper {
  font-size: 95px;
  font-weight: bold;
  text-align: center;
}

.main-header__caption {
  width: 100%;
  max-width: 50%;
  align-self: flex-start;
  margin: 10px;
  margin-left: 50px;
  font-size: 24px;
  line-height: 24px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  margin: 0;
  padding: 0;
  background-color: #4d4d4d;
}

.nav-bar__item {
  margin: 0;
  padding: 11px 21px;
  border: 0.1px solid #333333;
  border-bottom: none;
}

.button a,
.nav-bar a {
  text-decoration: none;
  color: #ffffff;
}

.buttons-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.button {
  width: 100%;
  margin: 0;
  padding: 11px 21px;
  background-color: #2ba6cb;
  border: 1px solid #1E728C;
  border-radius: 3px;
  border-bottom: none;
  color: #ffffff;
  cursor: pointer;
}

.buttons-list .active {
  background-color: #2284a1;
  
}

.start {
  background-color: #5da423;
  border-color: #396516;
}

.stop {
  background-color: #c60f13;
  border-color: #7f0a0c;
  colo
}

.reset {
  background-color: #e9e9e9;
  border-color: #c3c3c3;
  color: #1d1d1d;
}

.modal-settings .button {
  margin-top: 20px;
  width: 25%;
}

@media (min-width: 575px) {

  .main-header__caption {
    margin-left: 70px;
    margin-right: 0;
  }

  .settings-wrapper {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: auto;
  }

  .buttons-list {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

  .buttons-item {
    width: 100%;
  }
  
}

@media (min-width: 767px) {

  .main-wrapper,
  .nav-bar {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: auto;
  }

  .controls-wrapper .buttons-item {
    width: 150px;
    margin-right: 50px;
  }
  .controls-wrapper .buttons-item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {

  .settings-wrapper,
  .controls-wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  
}
